<h1> List of all Users</h1>
<% @users.each do |user| %>
<div>
  Email: <%= user.email %><br>
  Admin?: <%= user.admin? %><br>
  <br>
  <%= link_to 'Show', user_path(user), :class => "crud-link" %>
  <%= link_to 'Edit', edit_user_path(user), :class => "crud-link" %>
  <%= link_to 'Destroy', user_path(user), :class => "crud-link",
        method: :delete,
        data: { confirm: 'Are you sure?'} %>
  <% end %>
  <div>
    <%= link_to 'Create New User', new_user_registration_path, :class => "crud-link" %>
  </div>

</div>
