<p>
  <strong> Name:</strong>
  <%= @category.name %>
</p>
<% if admin?  %>
    <%= link_to 'Edit', edit_category_path(@category), :class => "crud-link" %>
    <%= link_to 'Back to All Categories', categories_path,  :class => "crud-link" %>
<% end %>


<% @products.each do |product| %>
<div>
   <h4>
    Title: <a href="<%=product_path(product)%>"> <%= product.title %> </a><br>
    </h4>
  <%= image_tag(product.image_url) %>
  Price: <%= number_to_currency(product.price, unit: "$", separator: ".", precision:2) %><br>
  <br>

    <% if admin?  %>
      <%= link_to 'Show', product_path(product), :class => "crud-link" %>
      <%= link_to 'Edit', edit_product_path(product), :class => "crud-link" %>
    <% end %>

<% end %>

</div>
