
<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <%= link_to image_tag(tile.image_url), product_path(tile.id) %>
    <div class="caption">
      <h4> <%= link_to tile.title, product_path(tile.id)%> </h4>
      <span class="small">$<%= tile.cost %></span>
      <% if tile.inventory_quantity == 0 %>
      <a class="btn btn-danger btn-sm disabled" href"#">Sold Out</a>
      <% else %>
      <%= link_to 'Add to Cart', cart_path(product_id: tile.id),  method: :post, :class => "btn btn-sm btn-primary" %>
      <% end %><br>
      <% if admin?  %>
        <%= link_to 'Edit', edit_product_path(tile.id), :class => "btn btn-xs btn-primary" %>
      <% end %>
    </div>
      </div>
</div>
