<h1> List of all Products</h1>
<% @products.each do |product| %>
<div>
  Title: <%= product.title %><br>
  <%= image_tag(product.image_url) %>
  Price: <%= product.price %><br>
  <br>
  <%= link_to 'Show', product_path(product), :class => "crud-link" %>
  <%= link_to 'Edit', edit_product_path(product), :class => "crud-link" %>
  <% end %>
  <div>
    <%= link_to 'Create New Product', new_product_path, :class => "crud-link" %>
  </div>

</div>
