<p>
  <strong> Product Title:</strong>
  Title: <%= @product.title %><br>
  Description: <%= @product.description %><br>
  <%= image_tag(@product.image_url) %>
  Price: <%= number_to_currency(@product.price, unit: "$", separator: ".", precision:2) %><br>
  Quantity Available: <%= @product.inventory_quantity %><br></p>

 <% if admin?  %>
<%= link_to 'Edit', edit_product_path(@product), :class => "button" %>
<%= link_to 'Destroy', product_path(@product), :class => "button",
      method: :delete %><br>
<% end %>
<%= link_to 'Back to All Products', products_path,  :class => "crud-link" %>
