
  <h2 class="product-header"><%= @product.category.name %> > <%= @product.title %></h2><br>
  <div class="row">
  <div class="col-sm-4 col-md-3 col-md-offset-2">
  <%= image_tag(@product.image_url) %>
</div>
  <h5><%= @product.inventory_quantity %> available</h5><br>
  Price: $<%= @product.cost %><br>
 <% if admin?  %>
<%= link_to 'Edit', edit_product_path(@product), :class => "btn btn-primary" %><br><br>
<%= link_to 'Destroy', product_path(@product), :class => "btn btn-primary",
      method: :delete %><br>
<% end %><br>
  <% if @product.inventory_quantity == 0 %>
      <a class="btn btn-danger disabled" href"#">Sold Out</a>
      <% else %>
      <%= link_to 'Add to Cart', cart_path(product_id: @product.id),  method: :post, :class => "btn btn-sm btn-primary" %>
      <% end %>
</div>
<div class="row">
  <div class="well col-md-offset-2 col-sm-6 col-md-4">
  <%= @product.description %><br>
</div>
</div>
<br>

