<!DOCTYPE html>
<html>
<head>
  <title>Brital.ly</title>
  <link href='https://fonts.googleapis.com/css?family=Patrick+Hand' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
         <%= link_to "Latter.ly", root_path, :class=>"layout-title navbar-brand navbar-btn" %>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="title-font dropdown-toggle navbar-btn" data-toggle="dropdown" role="button" id="dropdownMenu1" data-toggle="dropdown">
            Shop our categories
          <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% category_list.each do |category| %>
              <li><%= link_to category.name, category_path(category.id) %></li>
            <% end %>
          </ul>
        </ul>


      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        <li class="text title-font"> Welcome <%=current_user.email %></li>

          <li><a href='/cart' class="btn btn-info navbar-btn">
          <span class="glyphicon glyphicon-shopping-cart shopping-cart-button"></span> <span class="shopping-cart-button">Cart</span> <span class="badge"><%= current_user.carts.length %></span>
          </a></li>


        <li><%= link_to "Manage Users", users_path, :class => "btn btn-default navbar-btn" if current_user.admin? %></li>
        <li><%= link_to "Log out", destroy_user_session_path, :method => :delete, :class => "btn btn-default navbar-btn" %> </li>
        <% else %>
        <li><%= link_to "Log in", new_user_session_path, :class => "btn btn-default navbar-btn" %> </li>
        <li><%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-default navbar-btn" %> </li>
        <% end %>
      </ul>
    </div>
    </div>
  </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<div class="container-fluid">
<%= yield %>

<div class="modal fade" id="shopping_cart_modal" tabindex="-1" role="dialog" aria-labelledby="shopping_cart_modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Shopping Cart</h4>
            </div>
            <div class="modal-body">

            </div>
          </div>
        </div>
      </div>
    </div>

</div>
</body>
</html>
